nav {
    display: flex;
    position: absolute;
    background: var(--black-metalic-gradient);
    height: 5em;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
}

nav button, .hamburger-icon {
    justify-self: left;
    order: -1;
    place-self: flex-start;
    align-self: center;
    display: flex;
    font-size: 1em;
    padding: 0.8em;
    font-weight: 600;
    outline: none;
    color: #fff;
    background: transparent;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

nav button:hover, .hamburger-icon:hover {
    color: black;
    background: #fff;
}


nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 3em;
    font-family: Times New Roman, serif;
}

.dropdown-menu, .hamburger-icon {
    display: none;
    transition: transform 0.5s ease-out;
    top: 0;
}

.restart-button {
    order: 2;
}

@media (max-width: 1035px) {
    nav {
        display: flex;
    }

    nav > .background-music {
        display: none;
    }

    nav h1 {
        font-size: 2em;
    }

    .hamburger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        padding: 0.8em;
        aspect-ratio: 1/1;
    }

    .menu-expanded {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* card from api has z-index 999 */
        z-index: 1000;
        position: fixed;
        top: 5em;
        margin-left: auto;
        right: 0; /* Align the menu to the right */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        padding: 1.5em;
        width: 150px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.9);
    }
}