:root {
  --table-green: #006400;
  --button-border-radius: 25%;
  --black-gradient: linear-gradient(45deg, #222 5%, #333 95%);
  --black-metalic-gradient: linear-gradient(
            45deg,
            #222 5%, /* Darker metallic color */
            #333 10%, /* Dark metallic color */
            #444 30%, /* Medium metallic color */
            #555 50%, /* Lighter metallic color */
            #444 70%, /* Medium metallic color */
            #333 80%, /* Dark metallic color */
            #222 95% /* Darker metallic color */
    );
}

input[type=range] {
  background: none;
  height: 24px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 3px #50555C;
  background: #50555C;
  border-radius: 6px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: var(--black-gradient);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 3px #50555C;
  background: #50555C;
  border-radius: 6px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: #663E3E;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 1px solid #000000;
  border-radius: 12px;
  box-shadow: 2px 2px 3px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 1px solid #000000;
  border-radius: 12px;
  box-shadow: 2px 2px 3px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 3px 3px 3px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: #663E3E;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}

body {
  background-color: var(--table-green);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card {
  width: 80%;
  height: auto;
  z-index: 100;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.player-slots {
  display: flex;
  gap: 20px;
}

.player-slot, .dealer-slot, .deck-slot {
  width: 150px;
  height: 200px;
  /*background-color: white;*/
  border: 4px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#playing {
  -webkit-box-shadow:0px 0px 20px 11px rgba(0,255,234,1);
  -moz-box-shadow: 0px 0px 20px 11px rgba(0,255,234,1);
  box-shadow: 0px 0px 20px 11px rgba(0,255,234,1);
}

#standing {
  -webkit-box-shadow:0px 0px 20px 11px rgba(255,0,0,0.59);
  -moz-box-shadow: 0px 0px 20px 11px rgba(255,0,0,0.59);
  box-shadow: 0px 0px 20px 11px rgba(255,0,0,0.59);
}


/*Background Music*/
.music-button {
  display: flex;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(45deg, #222 5%, #333 95%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: var(--button-border-radius);
  /*border-radius: 50% / 50% ;*/
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.music-button:hover {
  /*background: linear-gradient(45deg, #333 5%, #222 95%);*/
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7);
}

/*Background Music*/
.background-music {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  /*border: 2px solid #ccc;*/
}

.background-music > * {
  margin: 0.1em;
}

.volume-changer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.volume-changer > * {
  margin: 0.2em;
  font-size: 2em;
}